<!-- Page Title -->
<section class="page-title">
    <div class="content" style="background-image: url(assets/images/background/15.png)">
        <div class="auto-container">
            <h1>Our Projects</h1>
        </div>
    </div>
    <ul class="page-breadcrumb">
        <li><a href="/">home</a></li>
        <li>Projects</li>
    </ul>
</section>
<!-- End Page Title -->

<!-- Projects Section -->


<%- include('../Home/project.ejs') %>



<!-- End Projects Section -->