<!-- Construction Section -->
<section class="construction-section">
    <div class="side-image">
        <img src="assets/images/resource/construction-1.png" alt="Dowelef Engineering" />
    </div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Construction Block - Telecom Infrastructure -->
            <div class="construction-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="assets/images/resource/telecom.png" alt="Telecom Infrastructure" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="years">Extensive</div>
                                    <h2><a href="/services">Telecom Infrastructure</a></h2>
                                    <a href="/services" class="read-more">Explore Services <span
                                            class="arrow fa fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Construction Block - Fiber Optic Networks -->
            <div class="construction-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="assets/images/resource/fiber.png" alt="Fiber Optic Networks" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="years">Reliable</div>
                                    <h2><a href="/services">Fiber Optic Networks</a></h2>
                                    <a href="/services" class="read-more">View Projects <span class="arrow fa fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Construction Block - Civil & Electrical Works -->
            <div class="construction-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image">
                        <img src="assets/images/resource/construction1.png" alt="Civil & Electrical Works" />
                        <!-- Overlay Box -->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <div class="years">High-Quality</div>
                                    <h2><a href="/services">Civil & Electrical Works</a></h2>
                                    <a href="services" class="read-more">Learn More <span
                                            class="arrow fa fa-arrow-right"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Construction Section -->