<!-- CTA Section -->
<section class="cta-section style-two">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">

				<!-- Title Column -->
				<div class="title-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3 class="text-white">Get a Quick Consultation</h3>
						<div class="text">Expert Solutions in Telecom, Fiber Optics & Engineering</div>
					</div>
				</div>

				<!-- Info Column -->
				<div class="info-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="clearfix">
							<div class="phone-box">
								<span class="icon flaticon-call-2"></span>
								Call Us Anytime:<br>
								<a href="tel:+255627511678" class="text-white">+255 627 511 678</a>
								<span class="or">or</span>
							</div>
							<!-- Button Box -->
							<div class="button-box">
								<a class="btn-style-four theme-btn" href="contact.html"><span class="txt">Contact
										Us</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End CTA Section -->