<!-- News Section Two -->
<section class="news-section-two">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Title Column -->
			<div class="title-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title style-two">
						<span class="icon flaticon-telephone"></span>
						<h2>Latest <span>Updates</span></h2>
						<div class="text">Stay informed with the latest developments in telecom, fiber optics, and
							engineering solutions.</div>
					</div>
					<!-- Button Box -->
					<div class="button-box">
						<a class="btn-style-two theme-btn" href="/blog"><span class="txt">More Articles</span></a>
					</div>
				</div>
			</div>

			<!-- Blocks Column -->
			<div class="blocks-column col-lg-8 col-md-12 col-sm-12">
				<div class="row clearfix">

					<!-- News Block Four -->
					<div class="news-block-four col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="/blog-detail"><img src="assets/images/resource/news-1.png"
										alt="Fiber Optic Expansion" /></a>
								<div class="post-date">15 Mar, 2024</div>
							</div>
							<div class="lower-content">
								<ul class="post-meta">
									<li><span class="icon flaticon-user-1"></span>Admin</li>
									<li><span class="icon flaticon-email"></span>12 Comments</li>
								</ul>
								<h5><a href="/blog-detail">The Future of Fiber Optic Expansion in Africa</a>
								</h5>
								<a href="/blog-detail" class="more-detail theme-btn">Read More</a>
							</div>
						</div>
					</div>

					<!-- News Block Four -->
					<div class="news-block-four col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="/blog-detail"><img src="assets/images/resource/news-2.png"
										alt="Telecom Tower Innovations" /></a>
								<div class="post-date">02 Apr, 2024</div>
							</div>
							<div class="lower-content">
								<ul class="post-meta">
									<li><span class="icon flaticon-user-1"></span>Engineering Team</li>
									<li><span class="icon flaticon-email"></span>8 Comments</li>
								</ul>
								<h5><a href="/blog-detail">Innovations in Telecom Tower Construction</a></h5>
								<a href="/blog-detail" class="more-detail theme-btn">Read More</a>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- End News Section Two -->