<!-- Services Section Four -->
<section class="services-section-four" style="background-image:url(assets/images/background/pattern-1.png)">
	<div class="auto-container" id="services">

		<!-- Sec Title -->
		<div class="sec-title centered">
			<span class="icon flaticon-telephone"></span>
			<h2>What we <span>do</span></h2>
			<div class="text">Delivering Excellence in Engineering & Telecom Infrastructure</div>
		</div>

		<div class="row clearfix">

			<!-- Service Block: Fiber Optic Installation -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="fiber-optics"><img src="assets/images/resource/service-1.png"
								alt="Fiber Optic Installation" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-network"></span>
							<h5><a href="fiber-optics">Fiber Optic <br> Installation</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Service Block: Telecom Infrastructure -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="telecom-infrastructure"><img src="assets/images/resource/service-2.png"
								alt="Telecom Infrastructure" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-tower"></span>
							<h5><a href="telecom-infrastructure">Telecom Tower <br> Construction</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Service Block: Civil Engineering -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="civil-engineering"><img src="assets/images/resource/service-3.png"
								alt="Civil Engineering" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-construction"></span>
							<h5><a href="civil-engineering">Civil & <br> Structural Works</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Service Block: Electrical Engineering -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="electrical-engineering"><img src="assets/images/resource/service-4.png"
								alt="Electrical Engineering" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-light-bulb"></span>
							<h5><a href="electrical-engineering">Electrical <br> Installations</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Service Block: Project Management -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="project-management"><img src="assets/images/resource/service-5.png"
								alt="Project Management" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-blueprint"></span>
							<h5><a href="project-management">Project <br> Management</a></h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Service Block: Maintenance & Support -->
			<div class="service-block-three col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="image">
						<a href="maintenance"><img src="assets/images/resource/service-6.png"
								alt="Maintenance & Support" /></a>
					</div>
					<div class="lower-content">
						<div class="content">
							<span class="icon flaticon-settings"></span>
							<h5><a href="maintenance">Maintenance & <br> Support</a></h5>
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Lower Text -->
		<div class="lower-text">
			<div class="text"><a href="/services">View All
					Services</a></div>
		</div>

	</div>
</section>
<!-- End Services Section Four -->