<head>
  <meta charset="utf-8">
  <title>Dowelef Engineering - Telecom & Infrastructure Experts</title>
  <meta name="description"
    content="Dowelef Engineering specializes in telecom infrastructure, fiber optic networks, and civil & electrical works across Africa.">
  <meta name="keywords"
    content="Telecom Infrastructure, Fiber Optic Networks, Civil Engineering, Electrical Works, Dowelef Engineering">
  <meta name="author" content="Dowelef Engineering">

  <!-- Stylesheets -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/responsive.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Nunito+Sans:wght@400;600;700&display=swap"
    rel="stylesheet">

  <!-- Color Switcher (if applicable) -->
  <link href="assets/css/color-switcher-design.css" rel="stylesheet">
  <link id="theme-color-file" href="assets/css/color-themes/default-color.css" rel="stylesheet">

  <!-- Flaticon & FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="assets/images/favicon.png" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Compatibility Scripts -->
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>