<!-- Main Footer -->
<footer class="footer-style-two style-three" style="background-image:url(assets/images/background/10.png)">
    <div class="auto-container">

        <!-- Footer Gallery -->
            <div class="footer-gallery">
                <div class="footer-gallery-carousel owl-carousel owl-theme">
                    <div class="slide">
                        <a href="assets/images/gallery/g1.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g1.png" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="assets/images/gallery/g2.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g2.png" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="assets/images/gallery/g3.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g3.png" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="assets/images/gallery/g4.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g4.png" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="assets/images/gallery/g5.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g5.png" alt="" /></a>
                    </div>
                    <div class="slide">
                        <a href="assets/images/gallery/g6.png" data-fancybox="gallery" data-caption=""><img
                                src="assets/images/gallery/g6.png" alt="" /></a>
                    </div>
            
                </div>
            </div>

        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo">
                                        <a href="/"><img src="assets/images/logo-small.png"
                                                alt="Dowelef Engineering" /></a>
                                    </div>
                                    <div class="text">Providing innovative engineering solutions in telecom, fiber
                                        optics, and civil works across Africa.</div>
                                    <!-- Social Box -->
                                    <ul class="social-box">
                                        <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                                        <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                                        <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                                        <li><a href="https://youtube.com/" class="fa fa-youtube-play"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Quick Links</h5>
                                <ul class="list-link">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/project">Our Projects</a></li>
                                    <li><a href="/services">Our Services</a></li>
                                    <li><a href="/contact/contact">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Our Services</h5>
                                <ul class="list-link">
                                    <li><a href="/services">Telecom Infrastructure</a></li>
                                    <li><a href="/services">Fiber Optic Deployment</a></li>
                                    <li><a href="/services">Civil & Structural Engineering</a></li>
                                    <li><a href="/services">Power & Electrical Solutions</a></li>
                                    <li><a href="/services">Network Optimization</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Subscribe to Our Newsletter:</h5>
                                <!-- Subscribe Form -->
                                <div class="subscribe-form-two">
                                    <form method="post" action="/subscribe">
                                        <div class="form-group">
                                            <span class="icon fa fa-envelope"></span>
                                            <input type="email" name="email" placeholder="Enter your email address"
                                                required="">
                                            <button type="submit" class="theme-btn btn-style-one"><span
                                                    class="txt">Subscribe Now</span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">&copy; <a href="/">Dowelef Engineering</a> - All Rights Reserved 2024.</div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->