<!-- Header Style One / Four -->
<header class="main-header header-style-four">

    <!-- Header Top Two -->
    <div class="header-top-two">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <!-- Top Left -->
                <div class="top-left clearfix">
                    <ul class="info-links">
                        <li><span class="icon flaticon-call"></span> PH: <a href="tel:+255627511678">+255 627 511
                                678</a></li>
                        <li><span class="icon flaticon-email-2"></span>Email: <a
                                href="mailto:christian.mahenge@dowelefengineering.com">christian.mahenge@dowelefengineering.com</a>
                        </li>
                        <li><span class="icon flaticon-location"></span> <a
                                href="Sabasaba grounds, dar es salaam">Sabasaba grounds, dar es salaam</a>
                        </li>
                    </ul>
                </div>

                <!-- Top Right -->
                <div class="top-right pull-right clearfix">
                    <!-- Social Box -->
                    <ul class="social-box">
                        <li class="follow">Follow us:</li>
                        <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                        <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                        <li><a href="https://youtube.com/" class="fa fa-youtube-play"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-container">
            <div class="clearfix">

                <div class="pull-left logo-box">
                    <div class="logo"><a href="index.html"><img src="assets/images/logo-small.png" alt="Dowelef Engineering"
                                title="Dowelef Engineering"></a></div>
                </div>

                <div class="nav-outer clearfix">
                    <!-- Mobile Navigation Toggler -->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                    <ul class="navigation clearfix">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li class="dropdown"><a href="/services">Services</a></li>
                        <li><a href="/project">Projects</a></li>
                        <li><a href="/contact/contact">Contact</a></li>
                    </ul>
                </div>

                    </nav>

                    <!-- Main Menu End-->
                    <div class="outer-box clearfix">

                        <!-- Search Btn -->
                        <div class="search-box-btn search-box-outer"><span class="icon fa fa-search"></span></div>

                        <!-- Button Box -->
                        <div class="button-box">
                            <a href="/contact/contact" class="theme-btn btn-style-two"><span class="txt">Get A
                                    Quote</span></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--End Header Upper-->

    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="index.html" title="Dowelef Engineering"><img src="assets/images/logo-small.png"
                        alt="Dowelef Engineering"></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">

                <!-- Main Menu -->
                <nav class="main-menu">
                    <!-- Menu will be populated via JavaScript -->
                </nav>
                <!-- Main Menu End-->

                <!-- Mobile Navigation Toggler -->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>

            </div>
        </div>
    </div><!-- End Sticky Menu -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><span class="icon flaticon-multiply"></span></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="index.html"><img src="assets/images/logo-small.png"
                        alt="Dowelef Engineering"></a></div>
            <div class="menu-outer"><!-- Here Menu Will Come Automatically Via JavaScript --></div>
        </nav>
    </div><!-- End Mobile Menu -->

</header>
<!-- End Main Header -->