<!-- Preloader -->
<div class="loader-wrap">
	<div class="preloader">
		<div class="preloader-close">x</div>
		<div id="handle-preloader" class="handle-preloader">
			<div class="animation-preloader">
				<div class="spinner"></div>
				<!-- <div class="txt-loading">
					<span data-text-preloader="D" class="letters-loading">D</span>
					<span data-text-preloader="O" class="letters-loading">O</span>
					<span data-text-preloader="W" class="letters-loading">W</span>
					<span data-text-preloader="E" class="letters-loading">E</span>
					<span data-text-preloader="L" class="letters-loading">L</span>
					<span data-text-preloader="E" class="letters-loading">E</span>
					<span data-text-preloader="F" class="letters-loading">F</span>
				</div> -->
			</div>
		</div>
	</div>
</div>
<!-- Preloader End -->