<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">X</a>
            </div>
            <div class="sidebar-textwidget">

                <!-- Sidebar Info Content -->
                <div class="sidebar-info-contents">
                    <div class="content-inner">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo-2.png" alt="Dowelef Engineering" /></a>
                        </div>
                        <div class="content-box">
                            <h4>About Us</h4>
                            <p class="text">
                                Dowelef Engineering is a leading provider of telecom infrastructure, fiber optics, and
                                construction solutions. With years of expertise, we deliver high-quality engineering
                                services, ensuring innovation, reliability, and sustainability in every project.
                            </p>
                            <a href="contact.html" class="theme-btn btn-style-one"><span
                                    class="txt">Consultation</span></a>
                        </div>
                        <div class="contact-info">
                            <h4>Contact Info</h4>
                            <ul class="list-style-one">
                                <li><span class="icon fa fa-location-arrow"></span>Sabasaba Grounds, Dar es Salaam,
                                    Tanzania</li>
                                <li><span class="icon fa fa-phone"></span><a href="tel:+255627511678">+255 627 511
                                        678</a></li>
                                <li><span class="icon fa fa-envelope"></span><a
                                        href="mailto:christian.mahenge@dowelefengineering.com">christian.mahenge@dowelefengineering.com</a>
                                </li>
                                <li><span class="icon fa fa-clock-o"></span>Weekdays: 08:00 - 18:00 | Saturday: 09:00 -
                                    14:00 | Sunday: Closed</li>
                            </ul>
                        </div>
                        <!-- Social Box -->
                        <ul class="social-box">
                            <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                            <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://youtube.com/" class="fa fa-youtube-play"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END sidebar widget item -->