<!-- Solution Section -->
<section class="solution-section" style="background-image:url(assets/images/background/4.png)">
    <div class="side-image wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
        <img src="assets/images/resource/solution.png" alt="Engineering Solutions" />
    </div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Title Column -->
            <div class="title-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <h2>Comprehensive Engineering & Telecom Solutions</h2>
                        <div class="text">Delivering cutting-edge infrastructure, telecom, and fiber optic solutions
                            across Africa.</div>
                    </div>
                    <!-- Button Box -->
                    <div class="button-box">
                        <a class="btn-style-two theme-btn" href="/about"><span class="txt">More About Us</span></a>
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">

                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <span class="icon flaticon-helmet-2"></span>
                            <h4><a href="/services">Telecom Infrastructure</a></h4>
                            <div class="text">Specializing in the design, construction, and maintenance of telecom
                                towers and passive network solutions.</div>
                            <a href="/services" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <span class="icon flaticon-office-building"></span>
                            <h4><a href="/services">Fiber Optic Deployment</a></h4>
                            <div class="text">Expertise in fiber optic network planning, installation, and
                                maintenance, ensuring high-speed connectivity.</div>
                            <a href="/services" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>

                    <!-- Feature Block -->
                    <div class="feature-block">
                        <div class="inner-box">
                            <span class="icon flaticon-crane"></span>
                            <h4><a href="/services">Civil & Structural Engineering</a></h4>
                            <div class="text">Delivering reliable civil and structural engineering solutions,
                                including foundation works and infrastructure development.</div>
                            <a href="/services" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Solution Section -->